body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}

span {
  color: brown;
}
.nice-bad {
  display: flex;
  margin-bottom: 150px;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.first {
  width: 50%;
  padding: 2%;
}
.first img {
  width: 80%;
}
.click-botton {
  text-decoration: none;
  background-image: linear-gradient(blue, tomato);
  padding: 20px 40px;
  border-radius: 2px;
  color: white;
  font-weight: 700;
}
.top {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.botton {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.second {
  box-shadow: 10px 10px 40px gray;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  font-size: 30px;
  border-radius: 10px;
}
.orang {
  color: brown;
}
#item {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#titem {
  border-left: 7px solid;
  border-image: linear-gradient(gray, tomato);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
